@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* 상단 */
.menu {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #333;
}
.menu_ul {
  display: flex;
  padding-top: 10px;
  font-size: 18px;
}
.menu_ul li {
  padding: 0 10px;
}
.menu li img {
  width: 400px;
  height: 50px;
  object-fit: contain;
  height: 100%;
}
.login_ul {
  display: flex;
  text-align: center;
  line-height: 70px;
}
.login_ul li {
  padding: 0 5px;
}
.fa-ghost {
  font-size: 50px;
}
.menu_ul li:hover {
  color: rgb(158, 3, 3);
  font-weight: bold;
}

/* 메인 */
.high {
  border-bottom: 1px solid #222;
  width: 1500px;
  overflow: hidden;
  position: relative;
  height: 1000px;
}
.high_ul {
  animation: scroll 10s infinite;
  width: 3000px;
}
.high_ul li {
  /* position: absolute; */
  float: left;
  width: 1500px;
}
@keyframes scroll {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -1500px;
  }
  70% {
    margin-left: -1500px;
  }
  100% {
    margin-left: 0;
  }
}

.list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center;
}
.list li {
  display: flex;
  width: 305px;
  height: 600px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding-top: 20px;
  justify-content: space-around;
}
.list img {
  width: 298px;
  height: 350px;
  object-fit: cover;
}
/* .name {
  padding: 5px;
} */
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option button {
  padding: 5px;
  margin: 10px 0;
}
.clothes {
  position: relative;
}
.clothes .img1 {
  position: relative;
}
.img1-2 {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  transition: opacity 0.5s linear;
}
.clothes:hover .img1-2 {
  opacity: 1;
  display: block;
  filter: brightness(70%);
}

.clothes .img2 {
  position: relative;
}
.img2-2 {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  transition: opacity 0.5s linear;
}
.clothes:hover .img2-2 {
  opacity: 1;
  display: block;
  filter: brightness(70%);
}

.clothes .img3 {
  position: relative;
}
.img3-2 {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  transition: opacity 0.5s linear;
}
.clothes:hover .img3-2 {
  opacity: 1;
  display: block;
  filter: brightness(70%);
}

.clothes .img4 {
  position: relative;
}
.img4-2 {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  transition: opacity 0.5s linear;
}
.clothes:hover .img4-2 {
  opacity: 1;
  display: block;
  filter: brightness(70%);
}

/*메인2*/
.middle {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 50px;
}
.m_menu {
  display: flex;
  width: 800px;
  height: 250px;
  justify-content: space-around;
  /* background-color: bisque; */
  margin-top: 10px;
}
.m_menu img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.m_menu li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* 하단 */
.footer {
  background-color: darkgrey;
  height: 80px;
  padding: 10px 10px;
  margin-top: auto;
}
